.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 100%;
}

.navbar {
  background-color: rgb(33, 48, 54);
}

.smLogo {
  width: 10vw;
}

.pointer {
  cursor: pointer;
}

.content {
  display: contents;
}

.btnBottomEnd {
  position: absolute;
  bottom: 16px;
  right: 12px
}

@media (min-width: 576px) {
  .profileDiv {
    width: 90vw;
  }
}

@media (min-width: 992px) {
  .profileDiv {
    width: 60vw;
  }
}